$color-titulo: #2F9BC9;
$color-barra-nav: rgb(236, 118, 48);
$color-hover-nav: #E36228;
$color-hover-btn: #1c89b8;

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../../images/fondo3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titulo {
    background-color: $color-titulo;
    border: 30px solid $color-titulo;
    text-align: center;

    h1 {
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        color: white;
    }

    h5 {
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        color: white;
    }
}

nav {
    text-align: center;
    ul {
        background-color: $color-barra-nav;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;

        a {
            font-family: 'Fira Sans', sans-serif;
            display: inline-block;
            color: #eef4ed;
            text-decoration: none;
            text-align: center;
            padding: 15px;
        }

        a:hover {
            background-color: $color-hover-nav;
        }
    }
}

#contenedor-grafo{
    margin: 100px auto;
    width: 600px;
    height: 400px;
    border: 1px solid $color-titulo;
    border-radius: 10px;
    background-color: white;
}

#contenedor-grafo-mostrar-vertice{
    display: inline-block;
    margin: 50px auto;
    width: 400px;
    height: 200px;
    border: 1px solid $color-titulo;
    border-radius: 10px;
    background-color: white;
}

#contenedor-grafo-mostrar-adyacentes{
    display: inline-block;
    margin: 50px auto;
    width: 400px;
    height: 200px;
    border: 1px solid $color-titulo;
    border-radius: 10px;
    background-color: white;
}

.contenedor-principal {
    .contenedor-form {
        margin: 20px 200px auto;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        text-align: center;

        .elemento {
            display: grid;
            grid-template-columns: 40% 60%;
    
            label {
                color: white;
                font-family: 'Fira Sans', sans-serif;
                font-size: 20px;
            }
        
            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                margin: 10px;
                color: white;
            }
        }

        h4 {
            color: white;
            font-family: 'Fira Sans', sans-serif;
            font-size: 30px;
            margin: 10px auto;
        }
    
        input[type="submit"] {
            background-color: $color-titulo;
            border: none;
            margin: 20px;
            border-radius: 10px;
            font-family: 'Fira Sans', sans-serif;
            font-size: 20px;
            cursor: pointer;
            color: white;
            padding: 10px;
        }

        input[type="submit"]:hover {
            background-color: $color-hover-btn;
        }
    }

    .mostrar-grafo {
        margin: 20px 200px auto;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        text-align: center;

        input[type="submit"] {
            background-color: $color-titulo;
            border: none;
            margin: 20px;
            border-radius: 10px;
            font-family: 'Fira Sans', sans-serif;
            font-size: 20px;
            cursor: pointer;
            color: white;
            padding: 100px;
            padding-top: 70px;
            padding-bottom: 70px;
        }

        h4 {
            color: white;
            font-family: 'Fira Sans', sans-serif;
            font-size: 30px;
            margin: 10px auto;
        }

        input[type="submit"]:hover {
            background-color: $color-hover-btn;
        }
    }
}